#head{
    background-color: rgb(61, 165, 42);
    height: 100px;
    color: pink;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120px;
    border: 1px solid color(srgb red green blue);
}